<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Languages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="content-wrapper" style="padding: 0;width: 350px;">
      <ion-item lines="none">
        <ion-input title="input a name for the new language" slot="start" placeholder="new language name" [(ngModel)]="newLanguageName"></ion-input>
        <ion-button title="create a new language" class="icon-only" color="primary" slot="end" fill="clear" size="large" (click)="create()"><ion-icon name="add-outline"></ion-icon></ion-button>
      </ion-item>
    </div>
    <div class="content-wrapper">
      <div class="list">
        <ion-chip *ngFor="let language of languages$ | async" color="primary" outline="true">
          <ion-label>{{ language.name }}</ion-label>
          <ion-icon name="close" (click)="delete(language)"></ion-icon>
        </ion-chip>
      </div>
    </div>
  </div>
</ion-content>
