<ng-container *ngIf="organizations$ | async as organizations">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>{{ organizations?.length }} Organizations</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="content-wrapper">
      <ion-item *ngFor="let organization of organizations" button lines="full"
        [routerLink]="['/organizations', organization.id]">
        <ion-label> {{ organization.name }} </ion-label>
      </ion-item>
    </div>
  </ion-content>
</ng-container>