<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/programs'" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Create Program</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" expand="block" color="primary" [disabled]="!form.dirty" (click)="create()">
        <ion-icon name="save-outline"></ion-icon> &nbsp; Create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">

    <form [formGroup]="form">

      <ion-item>
        <ion-label position="stacked">Name <ion-text *ngIf="form.controls.name.touched && form.controls.name.invalid"
            color="danger">(required)</ion-text>
        </ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea formControlName="description" autoGrow></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Location</ion-label>
        <ion-input formControlName="location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Eligibility</ion-label>
        <ion-input formControlName="eligibility"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fee</ion-label>
        <ion-input formControlName="fee"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Frequency</ion-label>
        <ion-input formControlName="frequency"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">How To Apply</ion-label>
        <ion-input formControlName="how_to_apply"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Select an organization <ion-text
            *ngIf="form.controls.organization.touched && form.controls.organization.invalid" color="danger">(required)
          </ion-text>
        </ion-label>
        <ion-select placeholder="Select" formControlName="organization">
          <ion-select-option *ngFor="let availableOrganization of availableOrganizations$ | async;"
            [value]="availableOrganization.id">{{ availableOrganization.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Languages</ion-label>
        <div class="languages-selection">
          <ion-button (click)="toggleLanguage(language)" fill="outline" [class.selected]="language.selected"
            *ngFor="let language of languages">{{ language.name }}</ion-button>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Focuses</ion-label>
        <div class="languages-selection">
          <ion-button (click)="toggleFocus(focus)" fill="outline" [class.selected]="focus.selected"
            *ngFor="let focus of focuses">{{ focus.name }}</ion-button>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Population Groups</ion-label>
        <div class="languages-selection">
          <ion-button (click)="togglePopulationGroup(populationGroup)" fill="outline"
            [class.selected]="populationGroup.selected" *ngFor="let populationGroup of populationGroups">{{
            populationGroup.name }}</ion-button>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Staff Name</ion-label>
        <ion-input formControlName="staff_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Staff Contact</ion-label>
        <ion-input formControlName="staff_contact"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label>Enabled</ion-label>
        <ion-toggle slot="end" formControlName="enabled"></ion-toggle>
      </ion-item>

    </form>

  </div>
</ion-content>