:host {
    ion-header {
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    ion-content {
        img {
            display: block;
            margin: 30vh auto 0;
        }
    }
}
