ion-menu {
    --side-max-width: 300px;
}

ion-input {
    --padding-top: 0;
    --padding-bottom: 0;
}

ion-alert {
    --width: 100% !important;
    --max-width: 380px !important;

    .alert-button.danger {
        color: var(--ion-color-danger);
    }

    &.single-select-alert {
        --max-width: 580px !important;
    }
}

ion-item {
    &.item-label-stacked {
        ion-label {
            font-size: 18px !important;
            font-weight: bold;
            color: #444444 !important;
            margin-bottom: 10px !important;
        }
    }
}
