<ng-container *ngIf="program$ | async as program">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="'/programs/' + program.id" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Program</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="solid" expand="block" color="primary" [disabled]="!form.dirty" (click)="save()">
          <ion-icon name="save-outline"></ion-icon> &nbsp; Save
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="content-wrapper">

      <form [formGroup]="form">

        <div class="status">
          <ion-toggle formControlName="enabled"></ion-toggle>
          <ng-container *ngIf="form.controls['enabled'].value">Enabled</ng-container>
          <ng-container *ngIf="!form.controls['enabled'].value">Disabled</ng-container>
          <ion-icon size="large" color="primary" name="eye" style="margin: 0 5px 0 20px;"></ion-icon> {{
          program.view_count }} views
        </div>

        <div class="field-item">
          <h2>Name <ion-text *ngIf="form.controls.name.touched && form.controls.name.invalid"
              color="danger">(required)</ion-text></h2>
          <ion-input formControlName="name"></ion-input>
        </div>

        <div class="field-item">
          <h2>Description</h2>
          <div id="descriptionEditor"></div>
        </div>

        <div class="field-item">
          <h2>Location</h2>
          <ion-input formControlName="location"></ion-input>
        </div>

        <div class="field-item">
          <h2>Eligibility</h2>
          <div id="eligibilityEditor"></div>
        </div>

        <div class="field-item">
          <h2>Fee</h2>
          <ion-input formControlName="fee"></ion-input>
        </div>

        <div class="field-item">
          <h2>Frequency</h2>
          <div id="frequencyEditor"></div>
        </div>

        <div class="field-item">
          <h2>How To Apply</h2>
          <div id="howToApplyEditor"></div>
        </div>

        <div class="field-item" *ngIf="availableOrganizations">
          <h2>Select an organization <ion-text
              *ngIf="form.controls.organization.touched && form.controls.organization.invalid" color="danger">(required)
            </ion-text></h2>
          <ion-select placeholder="Select" formControlName="organization">
            <ion-select-option *ngFor="let availableOrganization of availableOrganizations;"
              [value]="availableOrganization.id">{{ availableOrganization.name }}</ion-select-option>
          </ion-select>
        </div>

        <div class="field-item" *ngIf="currentOrganization">
          <h2>Organization</h2>
          <ion-input readonly [value]="currentOrganization.name"></ion-input>
        </div>

        <div class="field-item">
          <h2>Languages</h2>
          <div class="multiple-selection">
            <ion-button (click)="toggleLanguage(language)" fill="outline" [class.selected]="language.selected"
              *ngFor="let language of languages">{{ language.name }}</ion-button>
          </div>
        </div>

        <div class="field-item">
          <h2>Focuses</h2>
          <div class="multiple-selection">
            <ion-button (click)="toggleFocus(focus)" fill="outline" [class.selected]="focus.selected"
              *ngFor="let focus of focuses">{{ focus.name }}</ion-button>
          </div>
        </div>

        <div class="field-item">
          <h2>Population Groups</h2>
          <div class="multiple-selection">
            <ion-button (click)="togglePopulationGroup(populationGroup)" fill="outline"
              [class.selected]="populationGroup.selected" *ngFor="let populationGroup of populationGroups">{{
              populationGroup.name }}</ion-button>
          </div>
        </div>

        <div class="field-item">
          <h2>Staff Name</h2>
          <ion-input formControlName="staff_name"></ion-input>
        </div>

        <div class="field-item">
          <h2>Staff Contact</h2>
          <div id="staffContactEditor"></div>
        </div>

      </form>

      <div class="field-item">
        <h2>Video Links</h2>
        <form class="video-links" [formGroup]="addVideoLinkForm">
          <div class="link-item" *ngFor="let link of program.video_links; index as i">
            <p>{{link.name}}<br>
              <a [href]="link.link" target="_blank">{{link.link}}</a>
            </p>
            <ion-button fill="clear" slot="end" size="large" color="danger" (click)="removeVideoLink(link, program, i)">
              <div class="icon-on-top"><ion-icon name="trash-outline" size="small" color="danger"></ion-icon>delete
              </div>
            </ion-button>
          </div>
          <div class="add-video-link link-item">
            <p class="ion-text-wrap">
              <input placeholder="new video title" type="text" formControlName="name"><br>
              <input placeholder="new video link" type="text" formControlName="link">
            </p>
            <ion-button fill="clear" slot="end" size="large" (click)="addVideoLink(program)">
              <div class="icon-on-top"><ion-icon name="add-outline" size="small"></ion-icon> Add</div>
            </ion-button>
          </div>
        </form>
      </div>

      <div class="field-item">
        <h2>Images</h2>
        <form class="images" [formGroup]="addImageForm">
          <ion-card *ngFor="let image of program.images; index as i;">
            <a [href]="image.image" target="_blank"><img [src]="image.image" /></a>
            <ion-card-header>
              <ion-card-title [title]="image.name">{{ image.name }}
                <ion-button fill="clear" size="small" (click)="removeImage(image, program, i)">
                  <div class="icon-on-top delete"><ion-icon name="trash-outline" color="danger"></ion-icon> delete</div>
                </ion-button>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <div class="add-image-wrapper" (click)="newImage.click()">
              <img [src]="newImageUrl" title="add a new image">
              <input type="file" #newImage hidden (change)="newImageOnChange($event)" accept="image/*">
            </div>
            <ion-card-header>
              <ion-card-title>
                <input placeholder="new image title" formControlName="name">
                <ion-button fill="clear" size="small" (click)="addNewImage(program)">
                  <div class="icon-on-top"><ion-icon name="save-outline"></ion-icon> save</div>
                </ion-button>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </form>
      </div>

    </div>
  </ion-content>
</ng-container>